{% load static %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Beat Catalog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'catalog_app/styles.css' %}">
</head>

<body>
  <header>
    <h1>Beat Catalog</h1>
    <div class="flex">
      <form action="" method="post">
        {% csrf_token %}
        <label>Path:</label><br><br>
        <input type="text" name="path" value=""><br><br>
        <input type="submit" value="Submit">
      </form>
      <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="delete_all" value="Delete Database">
      </form>

      <form action="" method="post">
        {% csrf_token %}
        <label>Selected BPM for filtering: <output id="bpm_value"></output></label><br><br>
        <span>{{ min_bpm }}</span>
        <input id="bpm_select" type="range" name="filter_bpm" value="{{ mid_bpm }}" min="{{ min_bpm }}" max="{{ max_bpm }}">
        <span>{{ max_bpm }}</span>
        <input type="submit" value="Filter BPM">
      </form>

      <form action="" method="post" class="item" >
        {% csrf_token %}
        <label>Which key do you want to filter?</label><br><br>
        <select name="key">
          {% for key in keys %}
          <option value="{{ key.key }}">{{ key.key }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit">
      </form>

      <!--
      <div class="container">
          <p> Beats currently added to mail: <output id="beat_list"></output></p>
      </div>
      -->
    </div>

  </header>
  <div class="wrapper">



  <div class="div-table" id="wrapper">
    <table>
      <thead>
        <tr class="row header green">
          <th class="cell">Number</th>
          <th class="cell">Name</th>
          <th class="cell">BPM</th>
          <th class="cell">Key</th>
          <th class="cell">Path</th>
          <th class="cell">Delete Entry</th>
          <!--
          <th class="cell"></th>
          -->
        </tr>
      </thead>
      <tbody>
      {% for beat in all_items %}
        <tr class="row">
          <td class="cell"><a href="{{ row.url }}">{{ beat.number }}</a></td>
          <td class="cell">{{ beat.name }}</td>
          <td class="cell">{{ beat.bpm }}</td>
          <td class="cell">{{ beat.key }}</td>
          <td class="cell" id="myVar">{{ beat.full_path}}</td>
          <td class="cell">
            <form action="" method="post">
              {% csrf_token %}
              <button name="row_id" value={{ beat.id }}>delete</button>
            </form>
          </td>
          <!--
          <td class="cell">
            {% csrf_token %}
            <button name="add_mail" onclick="addSubject()">add to mail</button>
          </td>
          -->
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script>
const value = document.querySelector("#bpm_value");
const input = document.querySelector("#bpm_select");
value.textContent = input.value;
input.addEventListener("input", (event) => {
  value.textContent = event.target.value;
});

/*
const beat_list = [];
var beat = document.getElementById("myVar").innerHTML;

function addSubject() {
beat_list.push(beat);
document.getElementById("beat_list").innerHTML = beat_list;
}
*/

</script>
</body>
</html>